<!-- Author:Riccardo Reali
Date: 15-02-2023 -->


<head>        
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="./css/app.css">
  <link rel="script" href="/public/Scripts/scripts.js"> 
</head>

<body id="top1">
  <div class="layer2 spacer"></div> 
     <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center">  
    <h3 style="color: cornflowerblue;">About our Desktop Application</h3><br>
    <img src="/images/team.png" alt="Team" class="w3-image" style="display:block;margin:auto" width="800" height="533">
    <div class="w3-padding-32">
      <h4 style="color: cornflowerblue;"><b>DBMS Desktop 2023</b></h4>
      <hr>
      <h6 style="color: cornflowerblue;"><i>Thanks for downloading our Desktop Application!</i></h6>
      <p>The goal is to make data management more efficient and user-friendly. This webpage hosts the installation folder for the C# WPF Desktop Application, of the previous DBMS project. This project aims to distribute DBMS Software online, so that users can download it to their machines and install and run it just like the web application, without having to be connected to the internet.</p>
    </div>
  </div>

  <section style="margin-top: 100px;" class="text-center">
    <a href="#top1" class="w3-button text-center w3-black">To the top</a>
  </section>   

  <hr>
  <div class="layer1 spacer"></div> 
</body>

<style>
.spacer 
{
  aspect-ratio: 680/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 
{
  background-image: url('./images/aboutLayerbottom.svg');
}      

.layer2 
{
  background-image: url('./images/aboutLayerTop.svg');
}    
</style>

<!-- CHATBOT -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/640405e44247f20fefe4065a/1gqnre1al';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
</script>
<!--End of Tawk.to Script-->