<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/download.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">	
</head>
<body>
	<div class="container">
		<h1>Download Our Software</h1>
		<p>Thank you for choosing to download our software. While it is possible to use our service online through a web browser, downloading the software has several benefits:</p>
		<ul>
			<strong>Offline Access:</strong> Once the software is downloaded on your computer, you can use it without an internet connection. This can be especially helpful if you need to use our service in an area with poor internet connectivity or if you want to work on your calorie tracking without distractions from other websites.
			<hr>
			<strong>Customization:</strong> With the software downloaded on your machine, you can customize it to better suit your needs. You can set preferences, save your data locally, and even use the software with other applications that you have installed on your computer.
			<hr>
			<strong>Security:</strong> When using our software online, your data is stored on our servers. By downloading the software, you can store your data locally on your computer, reducing the risk of potential data breaches or hacks.
		</ul>
		<a href="/downloads/CalorieCalculator.exe" class="download-btn">Download Now</a>
	</div>
</body>
</html>

<html lang="en">
<head>        
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="./css/app.css">
  <link rel="script" href="/public/Scripts/scripts.js"> 

  <hr>
  <div class="spacer"></div>


<style>
.spacer 
{
  aspect-ratio: 680/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 
{
  background-image: url('./images/aboutLayerbottom.svg');
}      

.layer2 
{
  background-image: url('./images/aboutLayerTop.svg');
}    
</style>

<!-- Download function -->
<script>
  function downloadFolder() 
  {
    window.location.href = 'http://localhost:3000/api/Installer';
  }
</script>

<!-- CHATBOT -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/640405e44247f20fefe4065a/1gqnre1al';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
</script>
<!--End of Tawk.to Script-->
</html>
