<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <!-- Custom styles for this template -->    
    <link rel="stylesheet" href="/css/Home.css">
</head>

<html>
  <head>
    <title>Welcome to Calorie Calculator</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Calorie Calculator</h1>
      <p class="center"> 
        Let's customize CalorieCalculator for your goals.
      </p>
      <p class="center"> 
        Just answer a few simple questions and we'll do the math for you!
      </p>
      <a class="starting" onclick="location.href = 'calories'">Get started</a>
    </div>
  </body>

