<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <!-- Custom styles for this template -->    
    <link rel="stylesheet" href="/css/Home.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet">
</head>

  <body>
    <div class="container">
      <h1>Welcome to Calorie Calculator</h1>
      <div class="logo">
        <img src="https://via.placeholder.com/200x80.png?text=Calorie+Calculator" alt="Calorie Calculator">
      </div>
      <p>Let's customize your diet based on your needs and goals. Just answer a few simple questions and we'll do the math for you!</p>
      <button onclick="location.href = 'calories'">Get started</button>
    </div>
  </body>



<style>
.spacer 
{
  aspect-ratio: 680/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 
{
background-image: url('./images/aboutLayerTop.svg');
} 

.layer2 
{
background-image: url('./images/aboutLayerbottom.svg');
}       

.layer3 
{
background-image: url('./images/homePoly1.svg');
}

.layer4 
{
background-image: url('./images/homeCenter1.svg');
}

.layer5 
{
background-image: url('./images/homeCenter2.svg');
}
</style>

<!-- CHATBOT -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/640405e44247f20fefe4065a/1gqnre1al';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
