<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1">
	<!-- Custom styles for this template -->    
	<link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="wrapper fadeInDown">
		<div id="formContent">
		  <!-- Tabs Titles -->
	  
		  <!-- Icon -->
		  <div class="">
			<img style="padding: 10px;" src="../images/1.ico" id="icon" alt="User Icon" />
		  </div>
	  
		  <!-- Login Form -->
		  <form>
			<input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
			<input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
			<input type="submit" class="fadeIn fourth" value="Log In">
			<a class="underlineHover" href="#">Forgot Password?</a>
		  </form>

		  <!-- Create Account -->	  
		  
		  <div id="formFooter">
			<a class="underlineHover" href="#">Don't have an account? Create one</a>
		  </div>
	  
		</div>
	  </div>
</body>




