<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <!-- Custom styles for this template -->    
  <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
  <nav class="all size fixed-bottom bg-dark navbar-expand-lg bg-body-tertiary">
    <div class=" container-fluid">        
        <p1 class="footerText">
          <span class="span textColor" >©️ Copyright RRSystems DBMS 2023</span>
        </p1>      
  </div>
  </nav>
</body>

