
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #56baed;
}

h1 {
  text-align: center;
  margin-top: 300px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.starting {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2ecc71;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.starting:hover {
  background-color: #27ae60;
}

.center
{
  text-align: center;
}